<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Codes</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" rel="stylesheet">
  <style>
    #banner {
      height: 200px;
      width: 100%;
      object-fit:cover;
    }
    .container {
      font-family: Roboto;
    }
    h1, h3 {
      text-align: center;
    }
  </style>
</head>
<body>
  {%include 'navbar.html'%}
    <img src="static/banner.jpg" id="banner" alt="banner" class='img-fluid pt-3 pb-2'>
    <div class="container bg-secondary bg-gradient text-white"">
        <h3 class='h3'>SWIFT CODE AND IBAN VERIFIER</h3>
      
        <div class='row pt-3 pb-3 border-bottom'>
        <div class="col-6">
          <h4 class=h4>Search SWIFT code</h4>
            <form method="POST" action = "/BIC">
              <div class='row'>
                <div class='col-8'><input type='text' class="form-control" name="bic" placeholder='Enter bank name'></div>
                <div class='col-4'><button type="submit" class="btn btn-primary" onclick=get_html_bic_input()>Submit</button></div>
                <div class='pt-4' style='color:yellow'>
                  <p>Bank Name: <b>{{bank_name}}</b></p>
                  <p>SWIFT Code: <b>{{bank_bic}}</b></p>
                </div>
              </div>
            </form>
        </div>
        <div class="col-6">
          <h4 class='h4'>Search IBAN</h4>
            <form method="POST" action = "/IBAN">
              <div class='row'>
                <div class='col-8'><input type='text' class="form-control" name="iban" placeholder='Enter bank name'></div>
                <div class='col-4'><button type="submit" class="btn btn-primary">Submit</button></div>
                 <div class='pt-4' style='color:yellow'>
                  <p>Bank Name:</p>
                  <p>IBAN No:</p>
                </div>
              </div>
            </form>
        </div>  
      </div> 
      
      <div class='row  border-bottom'>
        <div class='col-3'><h5>What is a SWIFT code?</h5></div>
        <div class='col-9'><p class='lead'>
          A SWIFT code, or a Bank Identifier Code (BIC), is a unique identification code used to identify banks and financial institutions worldwide. SWIFT stands for the Society for Worldwide Interbank Financial Telecommunication, a cooperative organization that provides a secure network for financial institutions to exchange information and conduct transactions.
SWIFT codes are composed of either 8 or 11 alphanumeric characters and are used to facilitate international wire transfers. The code consists of four components: the bank code, the country code, the location code, and the branch code (optional). These components help identify the specific bank or branch involved in a transaction.
When sending money internationally, the sender must provide the recipient's SWIFT code and other necessary details, such as the recipient's account number and name. The SWIFT code ensures the funds are directed to the correct bank and branch, enabling secure and efficient cross-border transactions.
        </p></div>
      </div>
      <div class='row border-bottom'>
        <div class='col-3'><h5>What is an IBAN?</h5></div>
        <div class='col-9'><p class='lead'>
          An IBAN, short for International Bank Account Number, is a standardized alphanumeric code used to identify bank accounts in international transactions. It was introduced to facilitate the automatic processing of cross-border payments and reduce errors in account number entry.
The structure of an IBAN may vary depending on the country. Still, it typically consists of a two-letter country code, two check digits, and a series of alphanumeric characters representing the bank and account number. The length of an IBAN can vary, with a maximum of 34 characters.
The IBAN provides essential information about the recipient's bank and account, including the country where the account is held, the bank's identification code, and the account number. This standardized format helps ensure accurate routing and processing of international payments, reducing the risk of errors and delays.
When making an international payment, obtaining the recipient's IBAN is important to ensure the funds are directed to the correct account. The IBAN is widely used in Europe and other countries that have adopted the IBAN system. Still, it may only be required for some international transactions, depending on the countries involved.
        </p>
        </div>
      </div>
      
    </div>
  {%include'footer.html'%}
</body>
</html>