<div class="navbar navbar-expand-lg bg-body-tertiary shadow-sm fixed-top bg-white">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="https://www.nse.co.ke/" class="nav-link">NSE</a></li>
        <li class="nav-item"><a href="https://www.swift.com/standards/iso-20022" target='_blank' class="nav-link">ISO20022</a></li>
        <li class="nav-item"><a href="https://www.cnbc.com/banks/" target='_blank' class="nav-link">Global News</a></li>
        <li class="nav-item"><a href="https://www.google.com/search?q=kenyan+banking+news+today&sca_esv=557388832&rlz=1C1GCEB_enKE971KE971&sxsrf=AB5stBjfjMW3uuFxLhmLmhS3EwbHqzRmJg%3A1692180231634&ei=B5_cZLy4JtOHkdUP1vKJoAI&ved=0ahUKEwj81-jM9uCAAxXTQ6QEHVZ5AiQQ4dUDCA8&uact=5&oq=kenyan+banking+news+today&gs_lp=Egxnd3Mtd2l6LXNlcnAiGWtlbnlhbiBiYW5raW5nIG5ld3MgdG9kYXkyBRAAGKIEMgUQABiiBDIFEAAYogRIxjVQ-CVYzy1wA3gAkAEAmAHQAqABiQ2qAQUyLTYuMbgBA8gBAPgBAcICChAAGEcY1gQYsAPCAggQIRigARjDBOIDBBgAIEGIBgGQBgg&sclient=gws-wiz-serp" class="nav-link" target='_blank'>Kenyan News</a></li>
      </ul>
    </header>
  </div>
  <div style='height:80px'></div>