<div class="navbar navbar-expand-lg bg-body-tertiary shadow-sm fixed-top bg-white">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Dhow CSD</a></li>
        <li class="nav-item"><a href="https://www.swift.com/standards/iso-20022" target='_blank' class="nav-link">ISO20022</a></li>
        <li class="nav-item"><a href="https://www.wsj.com/news/business" class="nav-link">Wall Street</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>
  </div>
  <div style='height:80px'></div>